################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Microservices/.vs/Microservices
/Microservices/MicroserviceA/obj
/Microservices/MicroServicioB/obj
/Microservices/MicroserviceA/bin/Debug/net6.0
/Microservices/MicroServicioB/bin/Debug/net6.0
/Microservices/MicroA/Api/WebApi/obj
/Microservices/MicroA/Core/Domain/obj
/Microservices/MicroB/Api/WebApi/obj
/Microservices/MicroB/Core/Domain/obj
/Microservices/Trasversales/Trasnversal.Domain/obj
/Microservices/Example/obj
/Microservices/MicroA/Test/Test/obj
/Microservices/MicroA/Test/Test/bin/Debug/net6.0
/Microservices/MicroA/Test/bin/Debug/net6.0
/Microservices/MicroA/Test/obj
/Microservices/MicroB/Test/obj
/Microservices/Trasversales/Domain/obj
/Microservices/MicroB/Test/bin/Debug/net6.0
/Microservices/Trasversales/Domain/bin/Debug/net6.0
/Microservices/MicroA/Core/Domain/bin/Debug/net6.0
/Microservices/MicroB/Core/Domain/bin/Debug/net6.0
/Microservices/MicroA/Api/WebApi/bin/Debug/net6.0
/Microservices/MicroA/MicroA.Test/bin/Debug/net6.0
/Microservices/MicroA/MicroA.Test/obj
/Microservices/MicroB/Api/WebApi/bin/Debug/net6.0
