################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Microservices/.vs/Microservices
/Microservices/MicroserviceA/obj
/Microservices/MicroServicioB/obj
